AUTHORS.txt
bs4
doc.zh
scripts
COPYING.txt
build
setup.cfg
MANIFEST.in
convert-py3k
setup.py
PKG-INFO
dist
test-all-versions
beautifulsoup4.egg-info
doc
.DS_Store
g_files/bandsToDo.txt
g_files/songsToDo.txt